<h1 class="address">
    <% if params[:action] == "show" %>
        <%= place.address %>
    <% else %>
        <%= link_to(place.address, place) %>
    <% end %>
</h1>

<p class="description"><%= place.description %></p>

<p>
    Price: <span class="price"><%= place.price.to_s(:currency) %></span>, For: <spa class="for"><%= place.for.capitalize %></span>
</p>

<p>
    Rooms: <span class="rooms"><%= place.rooms %></span>, Bathrooms: <span class="bathrooms"><%= place.bathrooms %></span>
</p>

<p><%= mail_to(place.user.email) %></p>

<% if defined?(map) && map == true %>
    <%= render 'map', place: place %>
<% end %>

<% if place.pictures.count > 0 %>
    <%= render 'pictures', place: place %>
<% end %>

<% if place.user == current_user %>
    <%= link_to 'Edit', edit_place_path(place) %>
    
    <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>