<script type="text/javascript" charset="utf-8">
    var facetsStats = <%= raw(@facetsStats.to_json) %>;
</script>

<div id="content" class="container">
    <div id="listings" class="container">
        <%= render @places %>
    </div>
    
    <div id="infiniteScrolling">
        <%= will_paginate @places %>
    </div>
</div>

<div id="options" class="container">
    <div id="facets" class="container">
        <span id="sliders" class="container">
            <% @facetsStats.keys.each do |facet| %>
                <div class="facet container" id="<%= facet %>">
                    <%= facet.capitalize %>: 
                    <span class="slider container">
                        <span>
                            <% if facet == "price" %>
                                $
                            <% end %>
                            <input type="number" step="1" data-facet="<%= facet %>" class="minimum" min="<%= @facetsStats[facet]["min"] %>" max="<%= @facetsStats[facet]["max"] %>">
                        </span>
                        <div class="slider" data-facet="<%= facet %>" data-min="<%= @facetsStats[facet]["min"] %>" data-max="<%= @facetsStats[facet]["max"] %>"></div>
                        <span>
                            <% if facet == "price" %>
                                $
                            <% end %>
                            <input type="number" step="1" data-facet="<%= facet %>" class="maximum" min="<%= @facetsStats[facet]["min"] %>" max="<%= @facetsStats[facet]["max"] %>">
                        </span>
                    </span>
                </div>
            <% end %>
        </span>
        
        <span id="for">
            For: 
            <select name='place_for' class="facet" id="place_for">
              <option value=""></option>
              <option value='sale'>Sale</option>
              <option value='rent'>Rent</option>
            </select>  
        </span>
        <%= form_tag places_path, :method => 'get', :id => "places_search" do %>
            <p>
                <%= text_field_tag :query, params[:query] %>
                <%= submit_tag "Search", :name => nil %>
            </p>
        <% end %>
    </div>